# ValidationResult

::: ttkbootstrap.core.validation.ValidationResult
