venv
.idea
build
dist
*.egg-info
*.mp4
*_build
*_static
.vscode
__pycache__
testing_notes.txt
docsenv
errors
development/archived
development/issues
testenv
pyvenv
identifier.sqlite
tests/dialog.py
tests/themes.json
